# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Папки, создаваемые средой разработки
.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/
.mypy_cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
files/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# VSCode
.vscode/
